<div class="huesped-container">
  <div class="header-section">
    <div class="filters">
      <input
        type="text"
        class="filter-input"
        placeholder="Buscar por nombre o teléfono..."
        [(ngModel)]="filtroGeneral"
        (input)="aplicarFiltros()"
      />

      <input
        type="date"
        class="filter-date"
        [(ngModel)]="filtroFecha"
        (change)="aplicarFiltros()"
      />

      <button class="btn-limpiar" (click)="limpiarFiltros()">
        <i class="fa-solid fa-broom"></i> Limpiar
      </button>
    </div>
  </div>

  <div class="tabs">
    <button [class.active]="activeTab === 'todos'" (click)="setActive('todos')">Todos</button>
    <button [class.active]="activeTab === 'manual'" (click)="setActive('manual')">Manual</button>
    <button [class.active]="activeTab === 'enLinea'" (click)="setActive('enLinea')">En línea</button>
  </div>

  <div class="result-info" *ngIf="huespedesFiltrados.length > 0">
    {{ huespedesFiltrados.length }} huésped{{ huespedesFiltrados.length > 1 ? 'es' : '' }} encontrado{{ huespedesFiltrados.length > 1 ? 's' : '' }}
  </div>

  <div class="no-results" *ngIf="huespedesFiltrados.length === 0">
    <p>No hay huéspedes registrados para los filtros aplicados.</p>
  </div>

  <div class="huesped-grid" *ngIf="huespedesFiltrados.length > 0">
    <div *ngFor="let huesped of huespedesFiltrados" class="huesped-card">
      <h3>{{ huesped.nameHuesped }} {{ huesped.apellidoHuesped }}</h3>
      <p><strong>Teléfono:</strong> {{ huesped.telefono }}</p>
      <p><strong>Número de Habitación:</strong> {{ huesped.habitacionAsignada?.id_Rooms }}</p>

      <p>
        <strong>Estado:</strong>
        <span
          [ngClass]="{
            'estado-pagado': huesped.statusHuesped === 'pagado',
            'estado-pendiente': huesped.statusHuesped === 'pendiente de pago'
          }"
        >
          {{ huesped.statusHuesped | titlecase }}
        </span>
      </p>

      <p><strong>Tipo de Registro:</strong> {{ huesped.tipoRegistro | titlecase }}</p>

      <div *ngIf="huesped.statusHuesped === 'pagado'" class="switch-container">
  <label class="switch-label">Terminar estadía:</label>
  <label class="switch">
    <input
      type="checkbox"
      [checked]="huesped.habitacionAsignada?.estado === 'libre'"
      (change)="terminarEstadia(huesped, $event)"
      [disabled]="huesped.habitacionAsignada?.estado === 'libre'"
    />
    <span class="slider"></span>
  </label>
  <small *ngIf="huesped.habitacionAsignada?.estado === 'libre'">Finalizada</small>
</div>


     
    </div>
  </div>
</div>
