<div class="room-card">
  <!-- Imagen -->
  <div class="image-container" (click)="verHabitacion(room.id_Rooms)">
    <img
      [src]="
        room.image_url && room.image_url.trim() !== ''
          ? room.image_url
          : 'https://res.cloudinary.com/dy7wfku3s/image/upload/v1762236405/WhatsApp_Image_2025-11-03_at_6.04.22_PM_ok0q7n.jpg'
      "
      alt="Imagen de habitación"
      class="room-image"
      onerror="this.src='https://res.cloudinary.com/dy7wfku3s/image/upload/v1762236405/WhatsApp_Image_2025-11-03_at_6.04.22_PM_ok0q7n.jpg'"
    />

    <span class="estado" [ngClass]="getEstadoClass(room.estado)">
      {{ room.estado | uppercase }}
    </span>
  </div>

  <!-- Información -->
  <div class="info" (click)="verHabitacion(room.id_Rooms)">
    <h2 class="room-number">{{ room.id_Rooms }}</h2>
    <h3 class="room-type">
      {{ getTipoHabitacion(room.habitacion) }}
      <span class="nivel">{{ room.nivel }}</span>
    </h3>
    <p class="price">
      Precio: <strong>Q{{ room.precio.toFixed(2) }}</strong>
    </p>
  </div>

  <!-- Nueva barra elegante inferior -->
  <div class="admin-bar" *ngIf="admin">
    <button class="edit-btn" (click)="editarRoom(room)">
      <i class="fa-solid fa-pen-to-square"></i> Editar
    </button>
    <button class="delete-btn" (click)="eliminarRoom(room.id_Rooms)">
      <i class="fa-solid fa-trash"></i> Eliminar
    </button>
  </div>
</div>
