body {
    background: radial-gradient(circle, #ffffff 10%, #000328 90%);
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Para Firefox */
html {
  scrollbar-width: none;
}

